LearnHexMap/Library/
*.sdf
*.unityproj
*.suo
*.tmp
*.user
*.csproj
*.sln
*.userprefs
*.pidb
*.booproj
*.DotSettings
*.ide
*.ide-shm
*.ide-wal
Library/
Temp/
*.apk
*.zip
*.keystore
LearnHexMap/Logs/
LearnHexMap/obj/Debug/Assembly-CSharp.csproj.CopyComplete
LearnHexMap/obj/
LearnHexMap/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
